@import url("file:///home/adri/.cache/wal/colors-waybar.css");


window {
    margin: 0px;
    background-color: @background;
    border-radius: 10;
    border: 2px solid @color9;
}

#input {
    margin: 10px 0px 10px 0px;
    border: none;
    color: @color3;
    background-color: @foreground;
    border-radius: 5;
    border: 3px solid @color9;

}

#inner-box {
    margin: 0px;
    border: none;
    background-color: @background;
    border-radius: 0;
}

#outer-box {
    margin: 10px;
    border: none;
    background-color: @background;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: @color3;
} 

#entry:selected {
    background-color: @color2;
    border-radius: 30px;
    outline: none;
}

#entry:selected * {
    background-color: @color2;
    border-radius: 30px;
    outline: none;
}

#entry:selected #text {
    color: @background;
}
